---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
  font-family: "Trebuchet MS", "Century Gothic", Arial, sans-serif;
  font-size: 20px;
}

p, li {
  font-size: 1em;
}
