---
---
@import url('https://fonts.bunny.net/css?family=Alice:400|Poppins:400,400i,600,600i&display=swap');

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
  font-family: "Poppins", "Alice", "Trebuchet MS", "Century Gothic", Arial, sans-serif;
  font-size: 20px;
}

p, li {
  font-size: 1em;
}
